.main-nav {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.left-nav > ul,
.right-nav > ul {
   align-items: center;
  display: flex;
  
}

.left-nav > ul > li {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-transform: uppercase;
  font-size: 10px;
}

.right-nav > ul > li {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-transform: uppercase;
	font-size: 10px;
}

.right-nav > ul > li:last-of-type {
  font-size: 18px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {
  margin: 5px;
}


.right-nav i {
  margin: 5px;
  position: relative;
}

#gear-dropdown-btn {
  position: relative;
}

#list-box {
  background-color: black;
}